<section>
	<nav>
		<ol class="cd-breadcrumb custom-separator">
			<li class="<%= 'current' if current_page?(mis_experiencias_path) %>"><a href="<%= mis_experiencias_path %>">Experiencias</a></li>
			<li class="<%= 'current' if current_page?(new_experience_path) %>"><a href="<%= new_experience_path %>">Nueva Experiencia</a></li>

			<li class="<%= 'current' if current_page?(orders_path) %>"><a href="<%= orders_path %>">Órdenes de Venta</a></li>
		</ol>
	</nav>
</section>