
<div class="hero">
	<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="banner_1">
				<h1 class="titulo white">Las mejores experiencias en México</h1>
				<p class="white">Lorem ipsum dolor amet blue bottle affogato direct trade stumptown pork belly fam, scenester keffiyeh church-key. Pork belly chartreuse flexitarian polaroid tilde, vegan irony jianbing taiyaki woke cray cliche copper.</p>

				<button class="button button_blue2">Más información</button>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="container">
	<div id="titulos">
		<h1 class="titulo center">Experecias tan únicas y especiales como tú</h1>
		<p class="center">Lorem ipsum dolor amet blue bottle affogato direct trade <br> stumptown pork belly fam, scenester.</p>
	</div>
</div>

<div class="container">
	<div id="nume">
	<div class="row">
		<div class="col-md-2 col-xs-4 col-md-offset-3">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<h3>+ 5000</h3>
				<p>Usuarios Satisfechos</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<h3>+ 50</h3>
				<p>Camiones / Camionetas</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<h3>+ 1000</h3>
				<p>Servicios Exitosos</p>
			</div>
		</div>
	</div>
</div>
</div>

<div class="container">
<div id="search">
	<ul>
		<li>
			<input id="icon" style="text-indent:30px;" type="text" placeholder="Buscar por lugar..." />
		</li>
		<li>
			<input id="icon2" style="text-indent:30px;" type="text" placeholder="Tipo de experiencia..." />
		</li>
		<li>
			<input id="icon3" style="text-indent:30px;" type="text" placeholder="Número de días..." />
		</li>
		<li>
			<button class="button2 button_blue">Buscar</button>
		</li>
	</ul>
</div>
</div>


<div class="container">
<div id="expes">
	<div class="row">
<div class="col-md-4 col-sm-6">
			<div id="expes_1">
			<div class="imagen">
				<%= image_tag "banner_home.png" %>
			</div>
			<div class="datos">
				<h5>Experiencia Extrema</h5>
				<h3>Sótano de las Golondrina</h3>
				<h6> <span class="fa fa-map-marker"> </span> Aquismón, San Luis Potosí</h6>
				<button class="button button_blue2">Reserva Ahora! -></button>
			</div>
		</div>
	</div>

<div class="col-md-4 col-sm-6">
			<div id="expes_1">
			<div class="imagen">
				<%= image_tag "banner_home.png" %>
			</div>
			<div class="datos">
				<h5>Experiencia Extrema</h5>
				<h3>Sótano de las Golondrina</h3>
				<h6> <span class="fa fa-map-marker"> </span> Aquismón, San Luis Potosí</h6>
				<button class="button button_blue2">Reserva Ahora! -></button>
			</div>
		</div>
	</div>

<div class="col-md-4 col-sm-6">
			<div id="expes_1">
			<div class="imagen">
				<%= image_tag "banner_home.png" %>
			</div>
			<div class="datos">
				<h5>Experiencia Extrema</h5>
				<h3>Sótano de las Golondrina</h3>
				<h6> <span class="fa fa-map-marker"> </span> Aquismón, San Luis Potosí</h6>
				<button class="button button_blue2">Reserva Ahora! -></button>
			</div>
		</div>
	</div>
</div>

<br>
<button class="button button_blue button_center">Todas las experiencias</button>
<br>
</div>
</div>

<hr>

<div class="container">
<div id="secciones">
	<div class="row">
		<div class="col-md-6">
			<div id="izq_2" class="left">
				<%= image_tag "banner_home.png" %>
				<h1 class="titulo">Experiencias para Corporativos</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos asperiores fugit, ratione, vel modi, harum, nesciunt nobis est atque illo eum omnis minus eligendi distinctio accusantium numquam iusto esse perferendis.</p>
				<button class="button button_blue">Más información</button>
			</div>
		</div>

		<div class="col-md-6">
			<div id="izq_3" class="right">
				<%= image_tag "banner_home.png" %>
				<h1 class="titulo">Turismo Receptivo</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eveniet nihil neque vero repudiandae, aspernatur ratione ab perferendis adipisci iste excepturi quibusdam libero. Laboriosam eius aliquid in, nesciunt, earum cum.</p>
				<button class="button button_blue">Más información</button>
			</div>
		</div>
	</div>
</div>
</div>


<div id="contacto">
	<br>v
	<h1 class="center white">Somos tu mejor opción para experiencias</h1>
	<p class="center white">Lorem ipsum dolor amet blue bottle affogato direct trade <br>stumptown pork belly fam, <br>
scenester keffiyeh church-key.</p> <br><br>
<button class="button button_blue button_center">Contáctanos</button>
</div>
