
<div class="hero">
	<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="banner_1">
				<h1 class="titulo white">Las mejores experiencias en México</h1>
				<p class="white hidden-xs">Lorem ipsum dolor amet blue bottle affogato direct trade stumptown pork belly fam, scenester keffiyeh church-key. Pork belly chartreuse flexitarian polaroid tilde, vegan irony jianbing taiyaki woke cray cliche copper.</p>
				
				<%= link_to new_contact_path do %>
				<button class="button button_blue2">Más información</button>
				<% end %>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="container">
	<div id="titulos">
		<h1 class="titulo center">Experecias tan únicas y especiales como tú</h1>
		<p class="center">Lorem ipsum dolor amet blue bottle affogato direct trade <br> stumptown pork belly fam, scenester.</p>
	</div>
</div>

<div class="container">
	<div id="nume">
	<div class="row">
		<div class="col-md-2 col-xs-4 col-md-offset-3">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<h3>+ 5000</h3>
				<p>Usuarios Satisfechos</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<h3>+ 50</h3>
				<p>Camiones / Camionetas</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<h3>+ 1000</h3>
				<p>Servicios Exitosos</p>
			</div>
		</div>
	</div>
</div>
</div>

<div class="container">
<div id="search">
	<%= search_form_for @q do |f| %>
	<ul>
		<li>
			<%= f.search_field :nombre_cont, placeholder: "Buscar por Lugar...", id: "icon", sytle: "text-indent:30px;"  %>
		</li>
		<li>
			<%= f.search_field :categoria_cont, placeholder: "Tipo de Experiencia...", id: "icon2", sytle: "text-indent:30px;"  %>
		</li>
		<li>
			<%= f.search_field :categoria_cont, id: "icon3", sytle: "text-indent:30px;", placeholder: " Número de días..."  %>
		</li>
		<li>
			
			<%= f.submit "Buscar", class: "button2 button_blue" %>
		</li>
	</ul>
	<% end %>
</div>
</div>


<div class="container">
<div id="expes">
	<div class="row">

<% @experiences.each do |experience| %>
<div class="col-md-4 col-sm-6">
      <div id="expes_1">
      <div class="imagen">
        <%= image_tag experience.foto %>
      </div>
      <div class="datos">
        <h5><%= experience.categoria %></h5>
        <h3><%= experience.nombre %></h3>
        <h6> <span class="fa fa-map-marker"> </span> <%= experience.lugar %></h6>
        <%= link_to experience do %>
        <button class="button button_blue2">Reserva Ahora! -></button>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>


</div>

<br>
<%= link_to experiences_path do %>
<button class="button button_blue button_center">Todas las experiencias</button>
<% end %>
<br>
</div>
</div>

<hr>

<div class="container">
<div id="secciones">
	<div class="row">
		<div class="col-md-6">
			<div id="izq_2" class="left">
				<%= image_tag "banner_home.png" %>
				<h1 class="titulo">Experiencias para Corporativos</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos asperiores fugit, ratione, vel modi, harum, nesciunt nobis est atque illo eum omnis minus eligendi distinctio accusantium numquam iusto esse perferendis.</p>
				<%= link_to viajes_corporativos_path do %>
				<button class="button button_blue">Más información</button>
				<% end %>
			</div>
		</div>

		<div class="col-md-6">
			<div id="izq_3" class="right">
				<%= image_tag "banner_home.png" %>
				<h1 class="titulo">Turismo Receptivo</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eveniet nihil neque vero repudiandae, aspernatur ratione ab perferendis adipisci iste excepturi quibusdam libero. Laboriosam eius aliquid in, nesciunt, earum cum.</p>

				<%= link_to new_contact_path do %>
				<button class="button button_blue">Más información</button>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>


<div id="contacto">
	<br>
	<h1 class="center white">Somos tu mejor opción para experiencias</h1>
	<p class="center white">Lorem ipsum dolor amet blue bottle affogato direct trade <br>stumptown pork belly fam, <br>
scenester keffiyeh church-key.</p> <br><br>
<%= link_to new_contact_path do %>
<button class="button button_blue button_center">Contáctanos</button>
<% end %>
</div>
