<div class="hero3">
	<h1 class="white center">Le mejor para el mejor</h1>
	<div class="col-md-6 col-md-offset-3">
	<p class="white center hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora illo suscipit consectetur, placeat eaque omnis quisquam vel atque dolorem quaerat repudiandae deleniti sapiente ad error aut libero, tenetur, nobis fugiat!</p>
	</div>
</div>

<div id="bluish">
	<br><br>	
	<div class="container">
		<div id="contact">
			<div class="row">
				<div class="col-md-6 visible-sm visible-xs">
					<div id="contact_izq">
						<%= image_tag "banner_home.png"%>
					</div>
				</div>
				<div class="col-md-6">
					<div id="contact_der">
						<h1 class="titulo white">Servicios de Viajes Corporativos</h1>
						<p class="white">Lorem ipsum dolor amet blue bottle affogato direct trade stumptown pork belly fam, scenester keffiyeh church-key. Pork belly chartreuse flexitarian polaroid tilde, vegan irony jianbing taiyaki woke cray cliche copper.</p>
					</div>
				</div>
				<div class="col-md-6 hidden-sm hidden-xs">
					<div id="contact_izq">
						<%= image_tag "banner_home.png"%>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div id="fotos_cont">
			<div class="owl-carousel">
				<div><%= image_tag "banner_home.png" %></div>
				<div><%= image_tag "banner_home.png" %></div>
				<div><%= image_tag "banner_home.png" %></div>
				<div><%= image_tag "banner_home.png" %></div>
				<div><%= image_tag "banner_home.png" %></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="titulos">
			<h1 class="titulo center white">Beneficios</h1>
			<p class="center white">Lorem ipsum dolor amet blue bottle affogato direct trade <br> stumptown pork belly fam, scenester.</p>
		</div>
	</div>



<div id="yeaks">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "experiencias.png" %>
					<h2 class="white">Hacemos tu plan</h2>
				</div>
			</div>

			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "experiencias.png" %>
					<h2 class="white">Hacemos tu plan</h2>
				</div>
			</div>

			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "experiencias.png" %>
					<h2 class="white">Hacemos tu plan</h2>
				</div>
			</div>
		</div>
	</div>
</div> <br><br>

<div class="container">
	<div id="nume">
	<div class="row">
		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<h3 class="white">Hoteles</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<h3 class="white">Restaurantes</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<h3 class="white">Congresos</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<h3 class="white">Comidas</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<h3 class="white">Eventos Especiales</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<h3 class="white">Wifi</h3>
			</div>
		</div>

	</div>
</div>
</div>

<div class="container">
	<div id="nume">
	<div class="row">
		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<h3 class="white">Hoteles</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<h3 class="white">Restaurantes</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<h3 class="white">Congresos</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<h3 class="white">Comidas</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<h3 class="white">Eventos Especiales</h3>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<h3 class="white">Wifi</h3>
			</div>
		</div>

	</div>
</div>
</div>


<div id="mancha2"></div>

<div class="container">
		<div class="col-md-8 col-md-offset-2" style="padding: 0px;">
			<div id="contact2" class="up">
				<h2>Contáctanos</h2>

				<label for="">Nombre</label>
				<input type="text">

				<label for="">Email</label>
				<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>

				<label for="">Comentarios</label>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				
				<br><br>
				<button class="button button_blue button_center">Enviar</button>

			</div>
	</div>
</div>





</div>



<script>
	$(".owl-carousel").owlCarousel(
	{
		items:4,
		autoHeight:true,
	});
</script>