<div class="hero3">
	<h1 class="white center">Le mejor para el mejor</h1>
	<div class="col-md-6 col-md-offset-3">
	<p class="white center hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora illo suscipit consectetur, placeat eaque omnis quisquam vel atque dolorem quaerat repudiandae deleniti sapiente ad error aut libero, tenetur, nobis fugiat!</p>
	</div>
</div>

<div id="bluish">
	<br><br>	
	<div class="container">
		<div id="contact">
			<div class="row">
				<div class="col-md-6 visible-sm visible-xs">
					<div id="contact_izq">
						<%= image_tag "banner_home.png"%>
					</div>
				</div>
				<div class="col-md-6">
					<div id="contact_der">
						<h1 class="titulo white">Servicios de Viajes Corporativos</h1>
						<p class="white">Lorem ipsum dolor amet blue bottle affogato direct trade stumptown pork belly fam, scenester keffiyeh church-key. Pork belly chartreuse flexitarian polaroid tilde, vegan irony jianbing taiyaki woke cray cliche copper.</p>
					</div>
				</div>
				<div class="col-md-6 hidden-sm hidden-xs">
					<div id="contact_izq">
						<%= image_tag "banner_home.png"%>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div id="fotos_cont">
			<div class="owl-carousel">
				<div><%= image_tag "banner_home.png" %></div>
				<div><%= image_tag "banner_home.png" %></div>
				<div><%= image_tag "banner_home.png" %></div>
				<div><%= image_tag "banner_home.png" %></div>
				<div><%= image_tag "banner_home.png" %></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="titulos">
			<h1 class="titulo center white">Beneficios</h1>
			<p class="center white">Lorem ipsum dolor amet blue bottle affogato direct trade <br> stumptown pork belly fam, scenester.</p>
		</div>
	</div>



<div id="yeaks">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "experiencias.png" %>
					<h2 class="white">Hacemos tu plan</h2>
				</div>
			</div>

			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "experiencias.png" %>
					<h2 class="white">Hacemos tu plan</h2>
				</div>
			</div>

			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "experiencias.png" %>
					<h2 class="white">Hacemos tu plan</h2>
				</div>
			</div>
		</div>
	</div>
</div> <br><br>


<div class="container">
	<div id="nume">
	<div class="row">
		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<p class="white">Hoteles</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<p class="white">Restaurantes</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<p class="white">Congresos</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<p class="white">Comidas</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<p class="white">Eventos Especiales</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<p class="white">Wifi</p>
			</div>
		</div>

	</div>
</div>
</div>


<div id="mancha2"></div>

<div class="container">
		<div class="col-md-8 col-md-offset-2" style="padding: 0px;">
			<div id="contact2" class="up">
				<h2>Contáctanos</h2>

			<%= form_for @contact do |f| %>
			<div class="field">
				<%= f.label :Nombre %><br>
				<%= f.text_field :name, required:true %>
			</div>

			<div class="field">
				<%= f.label :Email %><br>
				<%= f.email_field :email, required:true %>
			</div>

			<%= f.text_field :donde, :value => "#{params[:controller]} - #{request.original_url}", class: "hidden" %>

			<div class="field">
				<%= f.label :Mensaje %><br>
				<%= f.text_area :comments, required:true %>
			</div>

			<div class="hidden">
				<%= f.label :nickname %><br>
				<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
			</div>

			<div class="but">
				<%= f.submit "Enviar", class:"button button_blue button_center"%>
			</div>
			<% end %>

			</div>
	</div>
</div>





</div>



<script>
	$(".owl-carousel").owlCarousel(
	{
		items:4,
		autoHeight:true,
	});
</script>