<div class="hero3">
	<h1 class="white center">Servicios Corporativos</h1>
	<div class="col-md-6 col-md-offset-3">
	<p class="white center hidden-xs"> </p>
	</div>
</div>

<div id="bluish">
	<br><br>	
	<div class="container">
		<div id="contact">
			<div class="row">
				<div class="col-md-6 visible-sm visible-xs">
					<div id="contact_izq">
						<%= image_tag "banner_home3.jpg"%>
					</div>
				</div>
				<div class="col-md-6">
					<div id="contact_der">
						<p class="white">Nuestro principal objetivo es adaptarnos a las necesidades del cliente ofreciendo un servicio de administración integral en la organización de eventos empresariales; desde eventos de integración, congresos, convenciones, viajes de incentivos, team building, seminarios, conferencias de trabajo, capacitaciones, cenas empresariales o cualquier tipo de espectáculo. <br> Nos satisface ofrecer a nuestros clientes un servicio completo de logística de transportación y garantizar el éxito en sus eventos.</p>
					</div>
				</div>
				<div class="col-md-6 hidden-sm hidden-xs">
					<div id="contact_izq">
						<%= image_tag "banner_home3.jpg"%>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div id="fotos_cont">
			<div class="owl-carousel">
				<div><%= image_tag "banner_home4.jpg" %></div>
				<div><%= image_tag "banner_home5.jpg" %></div>
				<div><%= image_tag "banner_home6.jpg" %></div>
				<div><%= image_tag "banner_home7.jpg" %></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="titulos">
			<h1 class="titulo center white">Beneficios</h1>
			<p class="center white">Intertravex puede ser un elemento clave para la organización de tus eventos.</p>
		</div>
	</div>



<div id="yeaks">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "planear.png" %>
					<h2 class="white">Planeamos</h2>
				</div>
			</div>

			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "corporativos.png" %>
					<h2 class="white">Desarrollamos</h2>
				</div>
			</div>

			<div class="col-md-4">
				<div id="producto">
					<%= image_tag "experiencias.png" %>
					<h2 class="white">Ejecutamos</h2>
				</div>
			</div>
		</div>
	</div>
</div> <br><br>


<div class="container">
	<div id="nume">
	<div class="row">

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_04.png" %>
				<p class="white center">Hospedaje</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_05.png" %>
				<p class="white center">Congresos</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_06.png" %>
				<p class="white center">Salones de Eventos</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_02.png" %>
				<p class="white center">Transportación</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_03.png" %>
				<p class="white center">Eventos Especiales</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "icono_01.png" %>
				<p class="white center">Cenas empresariales</p>
			</div>
		</div>

	</div><br><br>
				<h1 class="titulo center white">Cuéntanos tu próxima experiencias con nosotros</h1> <br>
        <a href="mailto:ventas@intertravex.com?Subject=Solicitud%20de%20información"><h4 class="white">ventas@intertravex.com</h4></a>
</div>
</div>


<div id="mancha2"></div>

<div class="container">
		<div class="col-md-8 col-md-offset-2" style="padding: 0px;">
			<div id="contact2" class="up">
				<h2>Contáctanos</h2>

			<%= form_for @contact do |f| %>
			<div class="field">
				<%= f.label :Nombre %><br>
				<%= f.text_field :name, required:true %>
			</div>

			<div class="field">
				<%= f.label :Email %><br>
				<%= f.email_field :email, required:true %>
			</div>

			<div class="field">
				<%= f.label :Teléfono %><br>
				<%= f.email_field :phone %>
			</div>

			<%= f.text_field :donde, :value => "#{params[:controller]} - #{request.original_url}", class: "hidden" %>

			<div class="field">
				<%= f.label :Mensaje %><br>
				<%= f.text_area :comments, required:true %>
			</div>

			<div class="hidden">
				<%= f.label :nickname %><br>
				<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
			</div>

			<div class="but">
				<%= f.submit "Enviar", class:"button button_blue button_center"%>
			</div>
			<% end %>

			</div>
	</div>
</div>





</div>



<script>
	$(".owl-carousel").owlCarousel(
	{
		items:4,
		autoHeight:true,
	});
</script>