<div class="hero2">
	<h1 class="white center">Queremos escucharte</h1>
	<div class="col-md-6 col-md-offset-3">
		<p class="white center hidden-xs">Tu opinión para nosotros es lo más importante. Queremos que nos cuentes tu experiencia con nosotros, sugerencias de nuevos destinos, tips para mejorar el servicio o simplemente pasa a saludarnos</p>
	</div>
</div>

<div class="container">
	<div id="contact">
		<div class="row">
			<div class="col-md-6">
				<div id="contact_izq">
					<%= image_tag "banner_home9.jpg"%>
				</div>
			</div>
			<div class="col-md-6">
				<div id="contact_der">
					<h1 class="titulo">Experiencias que te llevan más allá</h1>
					<p>Día con día buscamos ofrecerte las mejores experiencias para que dejes de visitar los mismos lugares y te atrevas a conocer más cada rincón de nuestro bello país. Desde playas, pueblos mágicos, parques, eventos, conciertos, nuestro objetivo es eliminar los viajes aburridos y juntos tener las mejores experiencias. </p>
				</div>
			</div>
		</div>
	</div>

	<div id="contact">
		<div class="row">
			<div class="col-md-6 visible-sm visible-xs">
				<div id="contact_izq">
					<%= image_tag "banner_home15.jpg"%>
				</div>
			</div>
			<div class="col-md-6">
				<div id="contact_der">
					<h1 class="titulo">Nuestro Servicio habla por nosotros</h1>
					<p>Queremos ofrecerte tanto las mejores experiencias como el mejor servicio antes, durante y después de tu experiencia con nosotros. <br>Contamos con más de 1,000 servicios en los que hemos brindado el mejor servicio con la gente mejor capacitada en el área. </p>
				</div>
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<div id="contact_izq">
					<%= image_tag "banner_home15.jpg"%>
				</div>
			</div>

		</div>
	</div>

</div>

<div class="container">
	<div id="nume">
		<div class="row">
			<div class="col-md-2 col-xs-4 col-md-offset-3">
				<div id="nume_1">
					<%= image_tag "corporativos.png" %>
					<h3>Corporativos</h3>
					<p>Excelencia y calidad en el servicio</p>
				</div>
			</div>

			<div class="col-md-2 col-xs-4">
				<div id="nume_1">
					<%= image_tag "experiencias.png" %>
					<h3>Experiencias</h3>
					<p>Los mejores planes y el mejor servicio</p>
				</div>
			</div>

			<div class="col-md-2 col-xs-4">
				<div id="nume_1">
					<%= image_tag "turismo.png" %>
					<h3>Turismo</h3>
					<p>Armamos y ejecutamos los mejores paquetes</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="mancha"></div>

<div class="container">
	<div class="col-md-8 col-md-offset-2" style="padding: 0px;">
		<div id="contact2" class="up">
			<h2>Contáctanos</h2>

			<%= form_for @contact do |f| %>
			<div class="field">
				<%= f.label :Nombre %><br>
				<%= f.text_field :name, required:true %>
			</div>

			<div class="field">
				<%= f.label :Email %><br>
				<%= f.email_field :email, required:true %>
			</div>

			<%= f.text_field :donde, :value => "#{params[:controller]} - #{request.original_url}", class: "hidden" %>

			<div class="field">
				<%= f.label :Mensaje %><br>
				<%= f.text_area :comments, required:true %>
			</div>

			<div class="hidden">
				<%= f.label :nickname %><br>
				<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
			</div>

			<div class="but">
				<%= f.submit "Enviar", class:"button button_blue button_center"%>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="container">
	<div id="fotos_cont">
		<div class="owl-carousel">
			<div><%= image_tag "banner_home10.jpg" %></div>
			<div><%= image_tag "banner_home11.jpg" %></div>
			<div><%= image_tag "banner_home12.jpg" %></div>
			<div><%= image_tag "banner_home13.jpg" %></div>
			<div><%= image_tag "banner_home14.jpg" %></div>
		</div>
	</div>
</div>

<script>
	$(".owl-carousel").owlCarousel(
	{
		items:4,
		margin:10,
		autoHeight:true,
	});
</script>