<div class="hero2">
	<h1 class="white center">Queremos escucharte</h1>
	<div class="col-md-6 col-md-offset-3">
	<p class="white center hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora illo suscipit consectetur, placeat eaque omnis quisquam vel atque dolorem quaerat repudiandae deleniti sapiente ad error aut libero, tenetur, nobis fugiat!</p>
	</div>
</div>

<div class="container">
	<div id="contact">
		<div class="row">
			<div class="col-md-6">
				<div id="contact_izq">
					<%= image_tag "banner_home.png"%>
				</div>
			</div>
			<div class="col-md-6">
				<div id="contact_der">
					<h1 class="titulo">Experiencias que te llevan más allá</h1>
					<p>Lorem ipsum dolor amet blue bottle affogato direct trade stumptown pork belly fam, scenester keffiyeh church-key. Pork belly chartreuse flexitarian polaroid tilde, vegan irony jianbing taiyaki woke cray cliche copper.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="contact">
		<div class="row">
			<div class="col-md-6 visible-sm visible-xs">
				<div id="contact_izq">
					<%= image_tag "banner_home.png"%>
				</div>
			</div>
			<div class="col-md-6">
				<div id="contact_der">
					<h1 class="titulo">Nuestro Servicio habla por nosotros</h1>
					<p>Lorem ipsum dolor amet blue bottle affogato direct trade stumptown pork belly fam, scenester keffiyeh church-key. Pork belly chartreuse flexitarian polaroid tilde, vegan irony jianbing taiyaki woke cray cliche copper.</p>
				</div>
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<div id="contact_izq">
					<%= image_tag "banner_home.png"%>
				</div>
			</div>

		</div>
	</div>

</div>

<div class="container">
	<div id="nume">
	<div class="row">
		<div class="col-md-2 col-xs-4 col-md-offset-3">
			<div id="nume_1">
				<%= image_tag "corporativos.png" %>
				<h3>Corporativos</h3>
				<p>Los mejores eventos para los mejores clientes</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "experiencias.png" %>
				<h3>Experiencias</h3>
				<p>Los mejores planes y el mejor servicio</p>
			</div>
		</div>

		<div class="col-md-2 col-xs-4">
			<div id="nume_1">
				<%= image_tag "turismo.png" %>
				<h3>Turismo</h3>
				<p>Armemos los mejores paquetes</p>
			</div>
		</div>
	</div>
</div>
</div>


<div id="mancha"></div>

<div class="container">
		<div class="col-md-8 col-md-offset-2" style="padding: 0px;">
			<div id="contact2" class="up">
				<h2>Contáctanos</h2>

				<label for="">Nombre</label>
				<input type="text">

				<label for="">Email</label>
				<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>

				<label for="">Comentarios</label>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				
				<br><br>
				<button class="button button_blue button_center">Enviar</button>

			</div>
	</div>
</div>

<div class="container">
<div id="fotos_cont">
  <div class="owl-carousel">
		<div><%= image_tag "banner_home.png" %></div>
		<div><%= image_tag "banner_home.png" %></div>
		<div><%= image_tag "banner_home.png" %></div>
		<div><%= image_tag "banner_home.png" %></div>
		<div><%= image_tag "banner_home.png" %></div>
	</div>
</div>
</div>

<script>
  $(".owl-carousel").owlCarousel(
    {
    items:4,
    margin:10,
    autoHeight:true,
    });
</script>