<%= form_with(model: experience, local: true) do |form| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="contact2">
  <h2>Habilitar Experiencia</h2>
  <div class="field">
    <%= form.label :disponible %>
    <%= form.check_box :disponible, id: :experience_disponible %>
  </div>
</div>


<div id="contact2">
  <h2>Información General</h2>
  <div class="field">
    <%= form.label :nombre_de_la_experiencia %>
    <%= form.text_field :nombre, id: :experience_nombrex, required: true %>
  </div>

  <div class="field">
    <%= form.label :lugar_de_la_experiencia %>
    <%= form.text_field :lugar, id: :experience_lugar, required: true %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria, id: :experience_categoria, required: true %>
  </div>

  <div class="field">
    <%= form.label :dias %>
    <%= form.text_field :dias, id: :experience_dias, required: true %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.cktext_area :descripcion, id: :experience_descripcion, required: true %>
  </div>
</div>

<div id="contact2">

  <div class="field">
    <%= form.label :foto_principal %><br>
    <%= @experience.foto if @experience.foto %>
    <br><br>
    <%= form.file_field :foto %>
    <%= form.hidden_field :foto_cache %>
  </div>
</div>

<div id="contact2">
  <h2>Imágenes de Carrusel</h2>
  <div class="row">
  <div class="col-md-4">
    <div class="form-group">              
      <span class="btn btn-default">
        <i class="fa fa-cloud-upload fa-lg"></i> Subir fotos 
        <%= file_field_tag "images_p[]", type: :file, multiple: true %>
      </span>
    </div>    
  </div>
</div>

<div id="photos_p"><%= render 'images/list' %></div>
</div>

<div id="contact2">
  <div class="field">
    <%= form.label :qué_incluye? %>
    <%= form.cktext_area :incluye, id: :experience_incluye %>
  </div>

  <div class="field">
    <%= form.label :cuál_es_el_itinerario? %>
    <%= form.cktext_area :itinerario, id: :experience_itinerario %>
  </div>

  <div class="field">
    <%= form.label :Cuál_es_el_plan? %>
    <%= form.cktext_area :que_plan, id: :experience_que_plan %>
  </div>

  <div class="field">
    <%= form.label :recomendaciones %>
    <%= form.cktext_area :recomendaciones, id: :experience_recomendaciones %>
  </div>

  <div class="field">
    <%= form.label :políticas %>
    <%= form.cktext_area :politics %>
  </div>
</div>

<hr>

<div id="contact2">
  <h2>Paquetes</h2>
  <%= form.fields_for :blocks do |block| %>

  <%= render "block_fields", f: block %>
  <% end %>
      <br>
      <div class="links">
        <%= link_to_add_association 'Añadir Paquete', form, :blocks, class: "button button_blue" %>
      </div>
      <br>
</div>

  <div class="actions">
    <%= form.submit class: "button button_blue button_center" %>
  </div>
<% end %>
