<div id="tabs">
      <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen"> <span class="fa fa-info-circle"></span> Información</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')"> <span class="fa fa-comments"></span> Recomendaciones</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')"> <span class="fa fa-file"></span> Políticas</button>
</div>

<div id="London" class="tabcontent">

  <h3>¿Cuál es el plan?</h3>
  <p><%= simple_format @experience.que_plan %></p>

  <h3>¿Qué incluye?</h3>
  <p><%= simple_format @experience.incluye %></p>

  <h3>Itinerario</h3>
  <p><%= simple_format @experience.itinerario %></p>


  <h3>Ubicación:</h3>
  <div id="map2"></div>

</div>

<div id="Paris" class="tabcontent">
  <h3>Recomendaciones:</h3>
  <p><%= simple_format @experience.recomendaciones %></p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Políticas: </h3>
<p><%= @experience.try(:politics) %></p> 
</div>

<br>
<br>
<h1 class="titulo">Dudas, comentarios o preguntas: </h1> <br>
        <a href="mailto:experiencias@intertravex.com?Subject=Solicitud%20de%20información"><h4 class="">experiencias@intertravex.com</h4></a><br>
        <a href="5528037574"><h4>Teléfono: (+52) 55 2803 7574</h4></a> <br>

<!-- tabs -->
</div>


<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<script>

  function initMap() {
    var myLatLng = {lat: <%= @experience.latitude %>, lng: <%= @experience.longitude %>};

    var map = new google.maps.Map(document.getElementById('map2'), {
      zoom: 12,
      center: myLatLng,
      scrollwheel: false
    });


    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: '<%= @experience.nombre %>'
    });
  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6K3XNvvLlBjourkCDTo3CMOUygthuYKo&signed_in=true&callback=initMap"></script>
