<div class="container">
  <div id="titulos">
    <h1 class="titulo center">Experecias tan únicas y especiales como tú</h1>
    <p class="center">Lorem ipsum dolor amet blue bottle affogato direct trade <br> stumptown pork belly fam, scenester.</p>
  </div>
</div>

<div class="container">
<div id="search">
  <ul>
    <li>
      <input id="icon" style="text-indent:30px;" type="text" placeholder="Buscar por lugar..." />
    </li>
    <li>
      <input id="icon2" style="text-indent:30px;" type="text" placeholder="Tipo de experiencia..." />
    </li>
    <li>
      <input id="icon3" style="text-indent:30px;" type="text" placeholder="Número de días..." />
    </li>
    <li>
      <button class="button2 button_blue">Buscar</button>
    </li>
  </ul>
</div>
</div>


<div class="container">
<div id="expes">
  <div class="row">

    <% @experiences.each do |experience| %>
<div class="col-md-4 col-sm-6">
      <div id="expes_1">
      <div class="imagen">
        <%= image_tag "banner_home.png" %>
      </div>
      <div class="datos">
        <h5><%= experience.categoria %></h5>
        <h3><%= experience.nombre %></h3>
        <h6> <span class="fa fa-map-marker"> </span> <%= experience.lugar %></h6>
        <%= link_to experience do %>
        <button class="button button_blue2">Reserva Ahora! -></button>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>

</div>
</div>



<br>

<%= link_to 'New Experience', new_experience_path %>
