<div class="container">
  <div id="titulos">
    <h1 class="titulo center">Experecias tan únicas y especiales como tú</h1>
    <p class="center">Lorem ipsum dolor amet blue bottle affogato direct trade <br> stumptown pork belly fam, scenester.</p>
  </div>
</div>

<div class="container">
<div id="search">
  <%= search_form_for @q do |f| %>
  <ul>
    <li>
      <%= f.search_field :nombre_cont, placeholder: "Buscar por Lugar...", id: "icon", sytle: "text-indent:30px;"  %>
    </li>
    <li>
      <%= f.search_field :categoria_cont, placeholder: "Tipo de Experiencia...", id: "icon2", sytle: "text-indent:30px;"  %>
    </li>
    <li>
      <%= f.search_field :categoria_cont, id: "icon3", sytle: "text-indent:30px;", placeholder: " Número de días..."  %>
    </li>
    <li>
      
      <%= f.submit "Buscar", class: "button2 button_blue" %>
    </li>
  </ul>
  <% end %>
</div>
</div>


<div class="container">
<div id="expes">
  <div class="row">

    <% @experiences.each do |experience| %>
<div class="col-md-4 col-sm-6">
      <div id="expes_1">
      <div class="imagen">
        <%= image_tag experience.foto %>
      </div>
      <div class="datos">
        <h5><%= experience.categoria %></h5>
        <h3><%= experience.nombre %></h3>
        <h6> <span class="fa fa-map-marker"> </span> <%= experience.lugar %></h6>
        <%= link_to experience do %>
        <button class="button button_blue2">Reserva Ahora! -></button>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>

</div>
</div>



<br>


