<div class="hero3">
  <h1 class="white center"><%= @experience.nombre %></h1>
</div>

<div class="container">
  
<div id="show_ex">
  <div class="row">
    <div class="col-md-8">
      <div id="ex_iz">
        <h1><%= @experience.nombre %></h1>
        <h3> <span class="fa fa-map-marker"> </span> <%= @experience.lugar %></h3>
        <h3> <span class="fa fa-map-marker"> </span> <%= @experience.categoria %></h3>

        <p><%= @experience.descripcion %></p>

        <h4><%= @experience.dias %></h4>
      </div>
    </div>

    <div class="col-md-4">
      <div id="ex_der">
        <div class="owl-carousel">
        <div><%= image_tag "rectangle_15.png" %></div>
        <div><%= image_tag "rectangle_15.png" %></div>
        <div><%= image_tag "rectangle_15.png" %></div>
        <div><%= image_tag "rectangle_15.png" %></div>
        <div><%= image_tag "rectangle_15.png" %></div>
      </div>
      </div>
    </div>
  </div>
</div>

<%= render 'share' %>

<div id="show_ex">
  <div class="row">
  <div class="col-md-8">
<%= render 'tabs' %>
  </div>
  <div class="col-md-4">
    <div id="paquetes">
      
    </div>
  </div>
  </div>
</div>

<hr>

<div class="container">
  <div id="titulos">
    <h1 class="titulo center">¿Cómo reservo esta experiencia?</h1>
    <p class="center">Lorem ipsum dolor amet blue bottle affogato direct trade <br> stumptown pork belly fam, scenester.</p>
  </div>
</div>

<div class="container">
  <div id="nume">
  <div class="row">
    <div class="col-md-2 col-xs-4 col-md-offset-3">
      <div id="nume_1">
        <%= image_tag "uno.png" %>
        
        <p>Elige la fecha y hora que más te acomoda</p>
      </div>
    </div>

    <div class="col-md-2 col-xs-4">
      <div id="nume_1">
        <%= image_tag "dos.png" %>
        
        <p>Selecciona el número de personas que van</p>
      </div>
    </div>

    <div class="col-md-2 col-xs-4">
      <div id="nume_1">
        <%= image_tag "tres.png" %>
        
        <p>Recibe la confirmación del viaje</p>
      </div>
    </div>
  </div>
</div>
</div>



<div id="expes">
  <div class="row">
    <h1 class="titulo center">Otras Experiencias que te pueden interesar</h1>
    <p class="center">Lorem ipsum dolor amet blue bottle affogato direct trade <br> stumptown pork belly fam, scenester.</p> <br><br>

<% @experiences.each do |experience| %>
<div class="col-md-4 col-sm-6">
      <div id="expes_1">
      <div class="imagen">
        <%= image_tag "banner_home.png" %>
      </div>
      <div class="datos">
        <h5><%= experience.categoria %></h5>
        <h3><%= experience.nombre %></h3>
        <h6> <span class="fa fa-map-marker"> </span> <%= experience.lugar %></h6>
        <%= link_to experience do %>
        <button class="button button_blue2">Reserva Ahora! -></button>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>


</div>
</div>

<!-- end container -->
</div>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>


<script>
  $(".owl-carousel").owlCarousel(
  {
    items:4,
    autoHeight:true,
  });
</script>

