<p id="notice"><%= notice %></p>

<p>
  <strong>Disponible:</strong>
  <%= @experience.disponible %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @experience.nombre %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @experience.lugar %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @experience.categoria %>
</p>

<p>
  <strong>Dias:</strong>
  <%= @experience.dias %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @experience.foto %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @experience.slug %>
</p>

<p>
  <strong>User:</strong>
  <%= @experience.user %>
</p>

<p>
  <strong>Incluye:</strong>
  <%= @experience.incluye %>
</p>

<p>
  <strong>Itinerario:</strong>
  <%= @experience.itinerario %>
</p>

<p>
  <strong>Que plan:</strong>
  <%= @experience.que_plan %>
</p>

<p>
  <strong>Recomendaciones:</strong>
  <%= @experience.recomendaciones %>
</p>

<p>
  <strong>Address:</strong>
  <%= @experience.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @experience.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @experience.longitude %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
