<!DOCTYPE html>
<html>
  <head>
    <title>Travex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <script src="https://use.fontawesome.com/7dee056668.js"></script>
  </head>

  <body>

  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% elsif notice %>
  <p class="notice"><%= notice %></p>
  <% end %>

<div id="navin">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
      <% end %>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'activo' if current_page?(experiences_path) %>"><a href="<%=experiences_path %>">Experiencias</a></li>
        <li class="<%= 'activo' if current_page?(viajes_corporativos_path) %>"><a href="<%=viajes_corporativos_path %>">Viajes Corporativos</a></li>
        <li class="<%= 'activo' if current_page?(new_contact_path) %>"><a href="<%=new_contact_path %>">Contacto</a></li>
        
        <% if user_signed_in? %>
        <li class="mini"> <a href="<%= destroy_user_session_path %>" data-method='delete'>
        Cerrar Sesión
      </a></li>
        <% else %>
        <li class="mini"><a href="<%= new_user_session_path %>"> Iniciar Sesión </a></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>


		<div id="content">
    <%= yield %>
    </div>
    

<div id="footer">
	<div class="row">
		<div class="col-sm-2">
			<div id="sube">
			<%= image_tag "logo3.png" %> <br><br><br><br>
		</div>
		</div>


      <div class="col-md-8 col-xs-6">
      <h5 class="white">Inter Travex</h5>
      
      <%= link_to experiences_path do %>
      <p>Experiencias</p>
      <% end %>
      
      <%= link_to viajes_corporativos_path do %>
      <p>Corporativos</p>
      <% end %>
      
      <%= link_to new_contact_path do %>
      <p>Contacto</p>
      <% end %>
    </div>

        <div class="col-sm-2 col-xs-6">
      <div id="sube">
      <ul>
        <li>
          <%= link_to root_path do %>
          <%= image_tag "facebook.png" %>
          <% end %>
        </li>

        <li>
          <%= link_to root_path do %>
          <%= image_tag "insta.png" %>
          <% end %>
        </li>

        <li>
          <%= link_to root_path do %>
          <%= image_tag "twitter.png" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
	</div>
</div>
<div id="cuadrito">
	<h2>Contacto: contacto@intertravex.com <br> Copyright © 2018. All Rights Reserved.</h2>
</div>

  </body>
</html>
